
body {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);

 background-image: url(milky-way-2695569_1280.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 text-align: left;
 font-family: 'Courier New', Courier, monospace;
 

}
